HelloXamarin/.vs/
HelloXamarin/HelloXamarin/HelloXamarin.Android/obj/
HelloXamarin/HelloXamarin/HelloXamarin.Android/bin/
HelloXamarin/HelloXamarin.WPF/obj/
HelloXamarin/packages/
HelloXamarin/HelloXamarin.WPF/bin/
